{include file="common/header" /}

		<div id="fh5co-main">
			<aside id="fh5co-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					<ul class="slides">
						<li style="background-image: url(__INDEX__/images/img_bg_1.jpg);">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
										<div class="slider-text-inner">
											<h1>Welcome PengJK Blog</h1>
											<p><a class="btn btn-primary btn-learn" href="#">Learn More<i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li style="background-image: url(__INDEX__/images/img_bg_2.jpg);">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
										<div class="slider-text-inner">
											<h1>Welcome PengJK Blog</h1>
											<p><a class="btn btn-primary btn-learn" href="#">Learn More<i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li style="background-image: url(__INDEX__/images/img_bg_3.jpg);">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
										<div class="slider-text-inner">
											<h1>Welcome PengJK Blog</h1>
											<p><a class="btn btn-primary btn-learn" href="#">Learn More<i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</li>
				  	</ul>
			  	</div>
			</aside>

			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">最新推荐</h2>
				<div class="row row-bottom-padded-md">
					{volist name="article" id="art"}
						<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft" width="286px" height="190px">
							<div class="blog-entry">
								<div class="desc">
									<h3><a href="{:url('/page/'.$art['art_id'].'')}">{$art.art_title}</a></h3>
									<span><small>{$art.art_editor}</small> / <small> {$art.art_time|date='Y-m-d'} </small> / <small> {$art.art_view}</small></span>
									<a href="{:url('/page/'.$art['art_id'].'')}" class="lead">阅读全文<i class="icon-arrow-right3"></i></a>
								</div>
							</div>
						</div>
					{/volist}
				</div>
			</div>


{include file="common/footer" /}
	<script>
        $('#fh5co-main-menu ul li').removeClass('fh5co-active');
		$('#fh5co-main-menu ul li').eq(0).addClass('fh5co-active');
	</script>