{include file="common/header" /}

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<a href="javascript:history.go(-1)" >返回</a>
					</div>
				</div>
				<div class="row row-bottom-padded-md">
					<h1 class="fh5co-heading" style="text-align:center;">{$article.art_title}</h1>
					<h5 class="fh5co-heading" style="text-align:center;"><small>{$article.art_editor}</small> / <small> {$article.cate_name}</small> / <small> {$article.art_time|date='Y-m-d'} </small> / <small> {$article.art_view}</small></h5>
					{$article.art_content|raw}
				</div>

				<div class="row">
					<div class="row-md-4 animate-box" data-animate-effect="fadeInLeft" style="text-align: center;">
						{if condition="$article['pre']"}
							上一篇：<a href="{:url('/page/'.$article['pre']['art_id'].'')}">{$article['pre']['art_title']}</a>
						{else}
							<span>没有上一篇了</span>
						{/if}
							<br />
						{if condition="$article['next']"}
							下一篇：<a href="{:url('/page/'.$article['next']['art_id'].'')}">{$article['next']['art_title']}</a>
						{else}
							<span>没有下一篇了</span>
						{/if}
					</div>
				</div>
			</div>


		
{include file="common/footer" /}
